global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend stats
    bind *:1936
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats hide-version
    stats refresh 20s
    stats show-node
    stats uri /haproxy

frontend s3_frontend
    bind *:8080
    default_backend s3_backends

backend s3_backends
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200

    # ServerA is primary
    server servera servera:8080 check inter 5s rise 2 fall 3
    # ServerB is backup - only used if ServerA is down
    server serverb serverb:8080 check inter 5s rise 2 fall 3 backup
